.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont {
  position: relative;
  overflow-x: hidden;
}
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: fixed;

  height: 100vh;

  padding: 30px 70px 30px 100px;
  left: 0px;
  top: 0px;
  right: 0px;
}
.sectionWrapper:before {
  content: '';
  position: absolute;
  width: 250px;
  height: 300%;
  top: 50%;
  right: 20%;
  background-color: #fff7f7;
  transform: translateY(-50%) rotateZ(-45deg);
}
.nav {
  position: fixed;
  z-index: 1;
  right: 100%;
  top: 111.125px;
  min-width: 65vh;
  min-height: 65vh;
  transform: translateX(190px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
.navImg {
  position: absolute;
  right: 200px;
  top: 50%;
  transform: translateY(-50%) translateX(100%);
}
.span {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-image: linear-gradient(152deg, rgb(254, 128, 129), rgb(255, 206, 173));
  top: 0px;
  left: 50%;
  cursor: pointer;
  transform-origin: center calc((32.5vh + 5.5px) - 1px);
  transform: translate3d(-50%, -50%, 0px) rotateZ(45deg);
  animation: 2s ease 0.333333s infinite normal none running projectPointScale;
}
.span ::before {
  position: absolute;
  content: '';
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
  border-radius: 50%;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #191e2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fafafa;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
  color: #fafafa;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  color: #fafafa;
  background-color: #21293d;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: #fafafa;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
